name: test

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/workflows/pages.yml"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - ".github/workflows/pages.yml"
  schedule:
    - cron: "0 20 * * 5" # JST 5:00 (Sat)

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        gemfile:
          - activerecord_7_1
          - activerecord_7_2
          - activerecord_8_0
          - activerecord_8_1
        database:
          - sqlite3
          - mysql
          - postgresql
          - oracle
        exclude:
          # TODO: latest activerecord-oracle_enhanced-adapter doesn't support activerecord 8.1+
          - database: oracle
            gemfile: activerecord_8_1

          # Rails 7.2+ requires Ruby 3.1+
          - ruby:    "2.7"
            gemfile: activerecord_7_2
          - ruby:    "3.0"
            gemfile: activerecord_7_2

          # Rails 8.0+ requires Ruby 3.2+
          - ruby:    "2.7"
            gemfile: activerecord_8_0
          - ruby:    "3.0"
            gemfile: activerecord_8_0
          - ruby:    "3.1"
            gemfile: activerecord_8_0
          - ruby:    "2.7"
            gemfile: activerecord_8_1
          - ruby:    "3.0"
            gemfile: activerecord_8_1
          - ruby:    "3.1"
            gemfile: activerecord_8_1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      DATABASE: ${{ matrix.database }}

      # for oracle
      LD_LIBRARY_PATH: /opt/oracle/instantclient_19_3
      NLS_LANG: AMERICAN_AMERICA.UTF8
      ORACLE_SYSTEM_PASSWORD: oracle

    services:
      mysql:
        image: mysql:8
        ports:
          - 3306
        env:
          MYSQL_ROOT_PASSWORD: root

      postgresql:
        image: postgres:10-alpine
        ports:
          - 5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      oracle:
        image: deepdiver/docker-oracle-xe-11g:2.0
        ports:
          - 1521
        env:
          ORACLE_SYSTEM_PASSWORD: oracle

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Cache vendor/bundle
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: cache_gem
        with:
          path: vendor/bundle
          key: v1-gem-${{ runner.os }}-${{ matrix.ruby }}-${{ matrix.gemfile }}-${{ env.DATABASE }}-${{ github.sha }}
          restore-keys: |
            v1-gem-${{ runner.os }}-${{ matrix.ruby }}-${{ matrix.gemfile }}-${{ env.DATABASE }}-
            v1-gem-${{ runner.os }}-${{ matrix.ruby }}-${{ matrix.gemfile }}-

      - name: Install
        run: |
          set -xe
          ./ci/install.sh

      - name: Setup Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: before-build
        continue-on-error: true

      # c.f. https://github.com/actions/virtual-environments/issues/4732#issuecomment-992614476
      - run: sudo systemctl start mysql

      - name: Run test
        run: |
          set -xe
          ./ci/build.sh
        env:
          MYSQL_PORT: ${{ job.services.mysql.ports['3306'] }}
          POSTGRESQL_PORT: ${{ job.services.postgresql.ports['5432'] }}
          ORACLE_PORT: ${{ job.services.oracle.ports['1521'] }}

      - name: Teardown Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: after-build
        if: always()
        continue-on-error: true

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  rubocop:
    runs-on: ubuntu-latest

    env:
      BUNDLE_WITHOUT: mysql postgresql sqlite3 oracle

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ruby

      - name: Cache vendor/bundle
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: cache_gem_rubocop
        with:
          path: vendor/bundle
          key: v1-gem-rubocop-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            v1-gem-rubocop-${{ runner.os }}-

      - name: Install
        run: |
          set -xe
          ./ci/install.sh

      - name: Run rubocop
        run: |
          set -xe
          bundle exec rubocop

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  all-pass:
    if: always()

    needs:
      - test
      - rubocop

    runs-on: ubuntu-slim

    steps:
      - name: check dependent jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
